<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <title>Book Man</title>
</head>
<body>
    <header>
        <nav>
            <figure>
                <a href="/">
                    <img src="/img/bookman.png" alt="Book Man logo">
                </a>
                <figcaption>Book Man.</figcaption>
            </figure>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/myList">My list</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p>This web app is for academic uses only.</p> 
        <p>API used for the page: <a href="http://www.penguinrandomhouse.biz/webservices/rest/">Penguin Random House REST API</a></p>
        <p>Database and npm package used for storing data: <a href="https://www.mongodb.com/cloud/atlas">Mongo DB Atlas</a> & <a href="https://www.npmjs.com/package/mongoose">Mongoose</a></p>
    </footer>
</body>
</html>