<h1>This is the home page of Book Man.</h1>
<h3>A web app that helps you search for titles online, as well as save them in your own list.</h3>
<p>Start typing in the bar below to search for relevant book titles...</p>

<form id="search">
    <input type="text" id="search-term" placeholder="Search books...">
    <button class="btn" type="submit">Search</button>
</form>

<div id="count"></div>
<ul id="works">
    
</ul>

<script src="/js/main.js"></script>
<script src="/js/delete.js"></script>